<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django form Validation</title>
<style>
        span{
            color: red;
        }
        h3{
            color:rgb(189, 65, 211)
        }
        h2{
            color: rgba(59, 46, 207, 1);
        }
    </style>
</head>  
<body>
    <form method="POST" novalidate >
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">

        {% if submitted_details %}
        <h2>The Submitted Details are:-</h2>
        <h3>Name : {{submitted_details.name}}</h3>
        <h3>Email: {{submitted_details.email}}</h3>
        <!-- <h3>Password: {{Submitted_details.password}}</h3> -->
        {% endif %}
    </form>
</body>          
</html>    